<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.0.xsd">
	 
    <http auto-config="true">
        <intercept-url pattern="/cadastro/area/**" access="ROLE_MASTER,ROLE_ADMINISTRACAO" />
        <intercept-url pattern="/cadastro/curriculo/**" access="ROLE_MASTER,ROLE_ADMINISTRACAO,ROLE_DOCENTE,ROLE_DISCENTE" />
        <intercept-url pattern="/cadastro/instituicao/**" access="ROLE_MASTER,ROLE_ADMINISTRACAO" />
        <intercept-url pattern="/cadastro/programa/**" access="ROLE_MASTER,ROLE_ADMINISTRACAO" />
        <intercept-url pattern="/publico/**" access="ROLE_DOCENTE,ROLE_DISCENTE" />
        <form-login login-page="/loginInicio.xhtml" authentication-failure-url="/loginInicio.xhtml?erro=true"/>
    </http>
    
    <beans:bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" >
        <beans:property name="url" value="jdbc:mysql://localhost:3306/invio" />
        <beans:property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <beans:property name="username" value="inviousr" />
        <beans:property name="password" value="inviousr" />
    </beans:bean>
    <authentication-manager>
        <authentication-provider>
            <jdbc-user-service data-source-ref="dataSource"
	                users-by-username-query="SELECT email, senha, 'true' as enable FROM login WHERE senha=?"
	                authorities-by-username-query="SELECT login,descricao 
                                                        FROM perfil_login INNER JOIN perfil ON perfil.id = perfil_login.perfil 
                                                        WHERE email=?"
	            />
        </authentication-provider>
    </authentication-manager>
	 
</beans:beans>
