<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.0.xsd">
	 
    <http auto-config="true">
        <intercept-url pattern="/cadastro/area/**" access="ROLE_MASTER,ROLE_ADMINISTRACAO" />
        <intercept-url pattern="/cadastro/curriculo/**" access="ROLE_MASTER,ROLE_ADMINISTRACAO,ROLE_DOCENTE,ROLE_DISCENTE" />
        <intercept-url pattern="/cadastro/instituicao/**" access="ROLE_MASTER,ROLE_ADMINISTRACAO" />
        <intercept-url pattern="/cadastro/programa/**" access="ROLE_MASTER,ROLE_ADMINISTRACAO" />
        <intercept-url pattern="/publico/indexHome.xhtml" access="ROLE_DOCENTE,ROLE_DISCENTE,ROLE_MASTER,ROLE_ADMINISTRACAO" />
        <form-login login-page="/loginInicio.xhtml" authentication-failure-url="/loginInicio.xhtml?erro=true"
         always-use-default-target = "true" default-target-url = "/publico/indexHome.xhtml"/>
    </http>
    
    <authentication-manager>
        <authentication-provider 
            user-service-ref ='myUserDetailsService'/>
        <!--<password-encoder hash="sha-256" />-->
    </authentication-manager>
    <beans:bean id="myUserDetailsService"
                class="invio.springWS.LoginSpring">
    </beans:bean>
         
</beans:beans>
