/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05/04/2015, 23:54:49
    Author     : Simeia Lima
*/

body {
    background-color: #eee !important;
}

table {
    font-size: .85em;
}

.inline-block {
    display: inline-block
}

#form-login {
    width: 550px;
    margin: 13em auto;
}

.width-100 {
    width: 100% !important;
}

.margin-2-px {
    margin: 2px;
}

.padding-0-1 {
    padding: 0 1em;
}

div.actions {
    text-align: right
}

div.actions ul {
    list-style: none;
}

div.actions ul li.disabled a {
    color: #aaa
}

div.actions ul li {
    display: inline-block;
    padding: .7em;
    margin: .1em;
}

#menu .item {
    font-size: 1.1rem;
}

#form-login .panel-heading, #form-login .panel-footer {
    background-color: transparent
}